<div id="favorite-button-<%= book.id %>">
  <% favorite = book.favorites.find_by(user_id: current_user.id) %>

  <% if favorite.present? %>
    <%= link_to book_favorite_path(book, favorite),
                method: :delete,
                remote: true do %>
      <span class="text-danger">
        <i class="fas fa-heart"></i> <%= book.favorites.count %>
      </span>
    <% end %>
  <% else %>
    <%= link_to book_favorites_path(book),
                method: :post,
                remote: true do %>
      <span class="text-muted">
        <i class="far fa-heart"></i> <%= book.favorites.count %>
      </span>
    <% end %>
  <% end %>
</div>
