<h2>Edit user info</h2>
<%= form_with model: @user, method: :patch do |f| %>
  <label for="Name">Name</label><br>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"name"%><br>
  <label for="Image">Image</label><br>
  <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %><br>
  <label for="Name">Introduction</label><br>
  <%= f.text_field :introduction,  id:"inputIntroduction"%><br>
  <%= f.submit "Update User" %>
<% end %>