<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/book', user: @user, book: @book %>
    </div>
    <div class="col-md-8 offset-md-1 border-left border-right px-0">
      <div class="p-3 border-bottom d-flex justify-content-between align-items-center">
        <h2 class="h5 mb-0 font-weight-bold">Users</h2>
        <div>
          <%= link_to 'Create Group', new_group_path, class: "btn btn-outline-primary btn-sm" %>
          <%= link_to 'Groups', groups_path, class: "btn btn-outline-dark btn-sm ml-2" %>
        </div>
      </div>

      <div class="user-list">
        <% @users.each do |user| %>
          <div class="p-3 border-bottom d-flex align-items-center justify-content-between book-card">
            <div class="d-flex align-items-center">
              <%= link_to user_path(user.id), class: "mr-3" do %>
                <%= image_tag user.get_profile_image(48, 48), size: "48x48", class: "rounded-circle border" %>
              <% end %>
              <div>
                <div class="font-weight-bold text-dark"><%= user.name %></div>
                <div class="text-muted small">@<%= user.name %></div>
              </div>
            </div>
            
            <div class="d-flex align-items-center">
              <%= render 'follow_button', user: user %>
              <% if current_user != user && current_user.following?(user) %>
                <%= link_to rooms_path(user_id: user.id), method: :post, class: "btn btn-light btn-sm ml-2 border" do %>
                  <i class="far fa-envelope"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

# <script>
#   document.addEventListener("DOMContentLoaded", function () {
#     if (!sessionStorage.getItem("reloaded_once")) {
#       sessionStorage.setItem("reloaded_once", "true");
#       setTimeout(function () {
#         window.location.reload();
#       }, 100); // 0.1秒後にリロード
#     }
#   });
# </script>